@font-face {
  font-family: 'piranyaregular';
  src: url('piranyaregular-ea2r4-webfont.woff2') format('woff2'),
  url('piranyaregular-ea2r4-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

.image-cropper {
    width: auto;
    height: auto;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: -65px;
  }
  
  img {
    /* margin: 0 auto; */
    height: 100%;
    width: auto;
  }

.first-text{
  text-align:center;
  font-size: 85px;
  font-family: "piranyaregular";
}
  
path{
  fill:transparent;
}

.container {  
  margin-left:450px;
  display: grid;
  grid-template-columns: 400px 400px 400px; 
  grid-template-rows: 450px 450px; 
  gap: 55px 35px;
  grid-auto-flow: row;
  grid-template-areas:
    "school country hobby"
    "animanga . music";
}



.flex-container {
  display: flex;
  width:900px;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
}

.flex-item {
  background: tomato;
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  overflow:auto;
}

.school { 
  grid-area: school; 
  background-color:#f8B195;
  border-radius:50px;
}
.country {
  grid-area: country; 
  background-color:#f67280;
  border-radius:50px;

}
.hobby { 
  grid-area: hobby; 
  background-color:#C06c84;
  border-radius:50px;

}
.animanga { 
  grid-area: animanga;
  background-color:#6C5B7b;
  border-radius:50px;

}
.music { 
  grid-area: music; 
  background-color:#355C7D;
  border-radius:50px;
}